body {
	font-family: "Hiragino Kaku Gothic"
} 

.logo{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	height: 100px;
}

.header_menu{
	background-color: black;
	color: white;
	height: 70px;
	width: 100%;
}

header li{
	float:left;
	list-style: none;
	line-height: 70px;
	padding-right: 60px;
	font-size: 20px;

}

.top{
	padding-right: 60px;
}

.sonota{
	padding-left: 40px;
}

.main{
	clear: both;
}

h1{
	margin: 0 auto;
	margin-top: 10px;
	padding: 5px 0px 5px 10px;
	border-left: black 6px solid;
	border-bottom: black 2px solid; 
	text-align: left;
}

h2{
	margin-left: 20px;
	margin-bottom: 5px;
	padding-left: 7px;
	border-left: red 4px solid;
	font-size: 24px;
	line-height: 30px;
}

form{
	margin: 0 auto;
	margin: 15px 5px 15px 5px;
	padding-bottom: 20px;
	background-color: #fbfbfb;
	border:#ebebeb solid 2px;	
}

form div{
	padding: 8px;
}

.text, textarea{
	border: 1px solid #dfdfdf;
	padding: 5px;
	color: #999;
	background: #fff;
}

.submit{
	border: 1px solid lightgray;
	padding: 4px 10px;
	color: white;
	background-color: gray;
	border-radius: 5px;
	border-bottom: 2px solid black;
}

.toukou{
		margin: 0 auto;
	margin: 15px 5px 15px 5px;
	padding-left: 10px;
	padding-bottom: 20px;
	background-color: #fbfbfb;
	border:#ebebeb solid 2px;
}

h3{
	border-bottom: 2px solid lightgray; 
	width: auto;
	padding-left:12px;
	font-size: 1.2em;
}

.left{
	float: left;
	width:70%;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.contents{
	padding-left: 12px;
}

.handlename {
	font-size: 0.8em;
}
	
.right{
	float: left;
	width: 30%;
	box-sizing: border-box;
	padding-top: 30px;
	padding-left: 10px;
	margin-bottom: 30px;
		}

h4{
	border-bottom: dotted 2px lightgray;
	font-size: 20px
}

.right_list{
	padding-left: 15px;
	margin: 0px auto;
}

.right_list li{
	list-style: none;
}


footer{
	clear: both;
	background-color: black;
	color: white;
	text-align: center;
	height: 70px;
	line-height: 70px;
	font-size: 27px;
	width: 100%;
	overflow: hidden;
}

