.boxA .box1{
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: skyblue;
}

.boxA .box2{
    background-color: red;
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
}

.boxA .box3{
    background-color: green;
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
}


.boxB .box4{
    float: right;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: skyblue;
}

.boxB .box5{
    background-color: red;
    float: right;
    width: 50px;
    height: 50px;
    text-align: center;
}

.boxB .box6{
    background-color: green;
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
}

img{
    float:left;
    width:200px;
}

h1{
    clear: left;
}